<div class="section-separator"></div>

<footer class="bg-primary-400 section-focus-visible">
  <div class="container">
    <div class="footer-rows">
      <div class="address | fs-500 text-neutral-100">
        <h3>Get in Touch</h3>
        <address>
          57-67 Popes Rd, Keysborough Victoria 3173 <br>
          <em class="fw-bold">1300 854 010</em> <br>
          sales@enforcergroup.com.au <br>
          ABN: 22 631 874 854
        </address>
      </div>
    	<div class="text-neutral-100 fs-200">
        <div class="back-to-top">
          <button class="button" data-action="back-to-top">
            <img src="{{asset 'goTop.png'}}"/>
          </button>
          <p>Back to top</p>
        </div>
      </div>
      <div class="copyright | text-neutral-100 fs-200">
        Copyright © 2022 Enforcer Group.
      </div>
    </div>
  </div>
</footer>